.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gold-star {
    color: #f5bb03;
}

.box-shadow-lg {
    box-shadow:
        0 15px 35px rgba($gray,.1),
        0 5px 15px rgba($gray,.07)
    ;
}
