
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-css:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-down-dir:before { content: '\e804'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-asterisk:before { content: '\e806'; } /* '' */
.icon-align-left:before { content: '\e807'; } /* '' */
.icon-rss:before { content: '\e808'; } /* '' */
.icon-align-center:before { content: '\e809'; } /* '' */
.icon-align-justify:before { content: '\e80a'; } /* '' */
.icon-signal:before { content: '\e80b'; } /* '' */
.icon-font:before { content: '\e80c'; } /* '' */
.icon-superscript:before { content: '\e80d'; } /* '' */
.icon-subscript:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-eye:before { content: '\e810'; } /* '' */
.icon-instagramm:before { content: '\e811'; } /* '' */
.icon-adjust:before { content: '\e812'; } /* '' */
.icon-plus:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-users:before { content: '\e815'; } /* '' */
.icon-user-add:before { content: '\e816'; } /* '' */
.icon-tint:before { content: '\e818'; } /* '' */
.icon-strike:before { content: '\e819'; } /* '' */
.icon-underline:before { content: '\e81a'; } /* '' */
.icon-bold:before { content: '\e81b'; } /* '' */
.icon-attention:before { content: '\e81d'; } /* '' */
.icon-italic:before { content: '\e81f'; } /* '' */
.icon-resize-vertical:before { content: '\e822'; } /* '' */
.icon-resize-horizontal:before { content: '\e823'; } /* '' */
.icon-fontsize:before { content: '\e824'; } /* '' */
.icon-align-right:before { content: '\e825'; } /* '' */
.icon-sort:before { content: '\e829'; } /* '' */
.icon-sort-down:before { content: '\e82a'; } /* '' */
.icon-sort-up:before { content: '\e82b'; } /* '' */
.icon-hdd:before { content: '\e833'; } /* '' */
.icon-logout:before { content: '\e834'; } /* '' */
.icon-cog:before { content: '\e835'; } /* '' */
.icon-stop:before { content: '\e837'; } /* '' */
.icon-search:before { content: '\e83f'; } /* '' */
.icon-sort-alt-down:before { content: '\e840'; } /* '' */
.icon-sort-alt-up:before { content: '\e841'; } /* '' */
.icon-calendar:before { content: '\e842'; } /* '' */
.icon-clock:before { content: '\e843'; } /* '' */
.icon-doc-1:before { content: '\e845'; } /* '' */
.icon-star:before { content: '\e846'; } /* '' */
.icon-comment:before { content: '\e847'; } /* '' */
.icon-star-empty:before { content: '\e848'; } /* '' */
.icon-filter:before { content: '\e849'; } /* '' */
.icon-flash:before { content: '\e84a'; } /* '' */
.icon-code-1:before { content: '\e84b'; } /* '' */
.icon-export:before { content: '\e84c'; } /* '' */
.icon-th-large-1:before { content: '\e84f'; } /* '' */
.icon-th:before { content: '\e850'; } /* '' */
.icon-ruler:before { content: '\f044'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-lightbulb-1:before { content: '\f0eb'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */